body {
    background: #2f2fa1;
    font-size: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clock {
    color: #f64c71;
    margin: 100px auto;
    text-align: center;
}

.clock span {
    text-shadow: 2px 2px 8px  #191955;
}